.details-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;


    .transaction {
        background-color: var(--white);
        border-radius: 10px;
        height: 400px;
        width: 400px;
        max-width: 90vw;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        .top {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            .cate {
                margin-top: 10px;
            }

            .ref {
                margin-top: 10px;
            }
        }
        .bottom {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            .user-img {
                width: 100px;
                height: 100px;
                margin-bottom: 30px;
            }
            .account {
                font-size: 2rem;
            }
    
            .amount  {
                margin-top: 10px;
            }
    
            .neg {
                color: var(--red);
            }
    
            .pos {
                color: var(--green);
            }

        }
        
    }

    .loading, .no-trans {
        text-align: center;
        font-size: 2rem;    
        text-align: center;
        font-size: 2rem;
    }
    
    .back {
        margin-top: 30px;
        text-align: center;
        color: var(--black-1);
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          color: var(--blue);
        }
    }
}