.modernTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    font-size: 1.4rem;
    border-radius: 10px;
    overflow-y: scroll;
    white-space: nowrap;
    overflow-x: scroll;

    tr {
        border-bottom: 1px solid var(--gray-2);
    }

    th {
        color: var(--blue);
        font-family: 'Courier New', Courier, monospace;
    }

    tr {
        &:not(:last-child) {
            border-bottom: 1px solid var(--gray-2);
        }

        &:hover {
            background-color: var(--gray-7);
            cursor: pointer;
        }
    }

    td {
        color: var(--gray-5);
    }
}

@media (max-width: $medium-devices) {
    .modernTable {
        min-width: 1000px;
    }

}