:root {
  --white: #FFFFFF;
  --gray-1: #F7F7FF;
  --gray-2: #E8E8E8;
  --gray-3: #a3a6a5;
  --gray-4: #C2C2C2;
  --gray-5: #3B3B3B;
  --gray-6: #C6C6C6;

  --blue: #0095f2;
  --blue-1: #ecf5fa53;

  --black-1: #111111;
}