html {
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  width: 70%;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}