html {
  font-size: 10px;
  word-spacing: 1px;
}

body {
  font-size: 1.6rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}