.transactions-page {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .transactions {
      width: 100%;
      border-radius: 10px;
      background-color: var(--white);
      height: 600px;

      .filters {
        height: 140px;
        padding: 15px;
        .title {
          font-size: 2.2rem;
          font-weight: 400;
        }
      }

      .table {
        height: calc(600px - 240px);
        width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
      }

      .tools {
        height: 100px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        .next {
          margin-left: 30px;
        }
        .arrow {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }