.transactions-page {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .transactions {
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
    height: 800px;

    .title {
      padding: 15px;
      font-size: 2.2rem;
      font-weight: 400;
    }

    .table {
      height: calc(800px - 260px);
      width: 100%;
      overflow-y: scroll;
      overflow-x: scroll;

      p.col-date {
        display: flex;
        flex-flow: row;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }

      .date-arrow {
        margin-left: 10px;
      }
    }

    .info-container {
      margin-top: 20px;

      .loading-table {
        font-size: 2.4rem;
        text-align: center;
        display: flex;
        flex-flow: row;
      }
    }

    .tools {
      margin-top: 10px;
      height: 100px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      .arrow {
        font-size: 2.4rem;
        color: var(--blue);
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          color: var(--black-1);
        }
      }

      .next {
        margin-left: 30px;
      }
    }
  }

  .feedback {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    .error-img {
      width: 400px;
      height: 400px;
    }
  }
}


@media (max-width: $small-devices) {
  .transactions-page {
    .transactions {
      .table {
        height: calc(800px - 460px);
      }

      .tools {
        margin-top: 10px;
        height: 50px;
      }
    }
  }
}