.transactions-page {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .transactions {
      border-radius: 10px;
      background-color: var(--white);
      height: 800px;

      .filters {
        height: 140px;
        padding: 15px;
        .title {
          font-size: 2.2rem;
          font-weight: 400;
        }
      }

      .table {
        height: calc(800px - 240px);
        min-width: 200px;
        overflow-x: scroll;
        overflow-y: scroll;
      }

      .tools {
        height: 100px;
      }
    }
  }